<%= stylesheet_link_tag "post/index", :media => "all" %>
<% if user_signed_in? %>
<input type="hidden" id = "user_id" value= <%=current_user.id%> >
<% end %>
<header>
  <div class = "header-logo">
     <%= link_to image_tag("yen.png",class: "logo-image"), "/" %>
  </div>
  <div class = "heading">
    <h2 class = "title">カンタン食費節約家計簿🐷</h2>
  </div>
  <div class = "navbar">
    <ul class = "nav-lists">
      <% if user_signed_in? %>
       <li><%= link_to "ログアウト", destroy_user_session_path ,method: :delete, class: "btn" %></li>
       <li><%= link_to "マイページ",  "/expenses/#{current_user.id}" ,class: "btn", id: "myPage"%></li>
      <% else%>
       <li><%= link_to "ログイン", new_user_session_path ,class: "btn" %></li>
       <li><%= link_to "新規登録", new_user_registration_path ,class: "btn" %></li>
      <% end%>
    </ul>
  </div>
</header>
<div class = "contents">
  <div class = "first-view">
    <div class="left-content">
      <h1 class= "main-letter">誰でも簡単に食費を節約できる</h1>
    </div>
    <div class="right-conten">
      <% if user_signed_in? %>
      <div class = "character-image">
      <div><%= image_tag "pekopigu1.png" ,class: "character-image1" %></div>
      <div class = "user_name"><%=current_user.nickname%>さん<br>こんにちは🐽<br></div>
      </div>
      <% else %>
      <div><%= image_tag "pekopigu2.png" ,class: "character-image" %></div>
      <% end %>
    </div>
  </div>
  <div class = "intro-video">
    <div class = "intro-logo">アプリ動画紹介</div>
  </div>
  <div class = "posts-list">
    <div class = "posts-logo" id = "post_all">節約術投稿一覧</div>
      <% if user_signed_in? %>
        <%=image_tag "toukou.png", class: "toukou-image",  id: "new_page" %>
      <% end %>
        <% image_tag"kizitoukou.png", class: "kigi-image" %>
    <div class = "post-all">
      <% @posts.each do |post| %>
        <%= render partial: "post", locals: { post: post } %>
      <% end %>
    </div>
    <div class ="paginate">
        <%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
     </div>
    </div>
  </div>
<div class="modal" id = "modal">
    <div class="modal__bg"></div>
      <div class="modal__content">
        
<%= stylesheet_link_tag "post/modal_new", :media => "all" %>

<div class = "close-logo">
<%= image_tag "close.png" ,class: "close-image", id: "close_image" %>
</div>
<%= form_with model: @post,class: 'post-main', local: true do |f| %>
<div class = "form-contents">  
  <div class = "form">
    <label class="form-text">私の節約術</label>
    <span class="indispensable">🐖</span> 
    <%= f.text_field :text, class:"input-default", placeholder:"60文字以内であなたの節約術をシェアしよう！", autofocus: true, maxlength:"60" %>
  </div>
  <div class="form">
    <div class="submit">
      <%= f.submit "投稿" ,class: "submit-btn" %>
    </div>
  </div>
</div>
 <% end %>
      </div>
    </div>
   </div>
</div>
<footer>
  <p class = "footer">Copyright 2020 shokuhi-setsuyaku All right reserved</p>
</footer>
