   <div class = "expense">
        <% i =+ 1 %>
      <div class = "name_price" , id ="nameGroup">
      <table>
      <%= expense.day %>
      <tr>
      <td class = "td"><%= eval("expense.name_#{i}")%>
      <%= eval("expense.price_#{i}")%>  
      <%= eval("expense.name_#{i + 1}") %>
      <%= eval("expense.price_#{i + 1}") %>
      <%= eval("expense.name_#{i + 2}") %>
      <%= eval("expense.price_#{i + 2}") %>
      <%= eval("expense.name_#{i + 3}") %>
      <%= eval("expense.price_#{i + 3}") %>
      <%= eval("expense.name_#{i + 4}") %>
      <%= eval("expense.price_#{i + 4}") %>
      <%= eval("expense.name_#{i + 5}") %>
      <%= eval("expense.price_#{i + 5}") %>
      <%= eval("expense.name_#{i + 6}") %>
      <%= eval("expense.price_#{i + 6}") %>
      <%= eval("expense.name_#{i + 7}") %>
      <%= eval("expense.price_#{i + 7}") %>
      <%= eval("expense.name_#{i + 8}") %>
      <%= eval("expense.price_#{i + 8}") %>
      <%= eval("expense.name_#{i + 9}")%>
      <%= eval("expense.price_#{i + 9}")%>
      <%= link_to '削除', "/expenses/#{expense.id}" , method: :delete, data: {confirm: "削除しますか？"}, class: "delBtn" %></td>
      </tr>
      </table>
      </div>
    </div>