<div class = "expenses">
  <% i =+ 1 %>
  <div class = "name_price" , id ="nameGroup">
    <table>
      <div class = "day">
        <%= expense.day.strftime('%m月%d日') %>
      </div>
      <tr>
      <td class = "td">
        <div class = "expense">
          <div class = "name">
            <%= eval("expense.name_#{i}") %>
          </div> 
          <div class = "price">
            <% @sum = eval("expense.price_#{i}") %>
            <%= eval("expense.price_#{i}.to_s(:delimited)") %>
          </div>
        </div>
        <div class = "expense">
          <div class = "name">
            <%= eval("expense.name_#{i + 1}") %>
          </div> 
          <div class = "price">
            <% @sum = @sum.to_i + eval("expense.price_#{i + 1}").to_i %>
            <%= eval("expense.price_#{i + 1}") %>
          </div>
        </div>
        <div class = "expense">
          <div class = "name">
            <%= eval("expense.name_#{i + 2}") %>
          </div> 
          <div class = "price">
            <% @sum = @sum.to_i + eval("expense.price_#{i + 2}").to_i %>
            <%= eval("expense.price_#{i + 2}") %>
          </div>
        </div>
        <div class = "expense">
          <div class = "name">
            <%= eval("expense.name_#{i + 3}") %>
          </div> 
          <div class = "price">
            <% @sum = @sum.to_i + eval("expense.price_#{i + 3}").to_i %>
            <%= eval("expense.price_#{i + 3}") %>
          </div>
        </div>
        <div class = "expense">
          <div class = "name">
            <%= eval("expense.name_#{i + 4}") %>
          </div> 
          <div class = "price">
            <% @sum = @sum.to_i + eval("expense.price_#{i + 4}").to_i %>
            <%= eval("expense.price_#{i + 4}") %>
          </div>
        </div>
        <div class = "expense">
          <div class = "name">
            <%= eval("expense.name_#{i + 5}") %>
          </div> 
          <div class = "price"
            <% @sum = @sum.to_i + eval("expense.price_#{i + 5}").to_i %>>
            <%= eval("expense.price_#{i +5}") %>
          </div>
        </div>
        <div class = "expense">
          <div class = "name">
            <%= eval("expense.name_#{i + 6}") %>
          </div> 
          <div class = "price">
            <% @sum = @sum.to_i + eval("expense.price_#{i + 6}").to_i %>
            <%= eval("expense.price_#{i + 6}") %>
          </div>
        </div>
        <div class = "expense">
          <div class = "name">
            <%= eval("expense.name_#{i + 7}") %>
          </div> 
          <div class = "price">
            <% @sum = @sum.to_i + eval("expense.price_#{i + 7}").to_i %>
            <%= eval("expense.price_#{i + 7}") %>
          </div>
        </div>
        <div class = "expense">
          <div class = "name">
            <%= eval("expense.name_#{i + 8}") %>
          </div> 
          <div class = "price">
            <% @sum = @sum.to_i + eval("expense.price_#{i + 8}").to_i %>
            <%= eval("expense.price_#{i + 8}") %>
          </div>
        </div>
        <div class = "expense">
          <div class = "name">
            <%= eval("expense.name_#{i + 9}") %>
          </div> 
          <div class = "price">
            <% @sum = @sum.to_i + eval("expense.price_#{i + 9}").to_i %>
            <%= eval("expense.price_#{i + 9}") %>
          </div>
        </div>
        <div class = "sum">
          <p>合計金額:</p>
          <p class ="sum_value" ><%= @sum %></p>
          <p>円</p>
        </div>
       <div class ="del">
         <%= link_to '消', "/expenses/#{expense.id}" , method: :delete, data: {confirm: "削除しますか？"}, class: "delBtn" %>
      </div>
      </td>
      </tr>
    </table>
    </div>
</div>