<%= stylesheet_link_tag "expense/search_month", :media => "all" %>
<input type="hidden" id = "amount" value= <%= @target_amount %> >
<div class = "header">
  <div class = "back_image">
    <%= link_to image_tag("mypage.png",class: "logo-image"), "/expenses/#{current_user.id}" %>
    <div class = "back_text">マイページへ戻る</div>
  </div>
    <div class = "nickname"><%= @nickname %>さんの<span id="month_text"></span>の残高</div>
    <div class = "balance_price"><span id="balance_price">円</div>
   <div class = edit-content>
    <div><%= link_to '目標予算を編集',  edit_user_registration_path(current_user.id), method: :get,class: 'btn', id: "btn" %></div>
  </div>
</div>
<div class= "search_form">
    <%= form_with(url:  search_month_expenses_path, local: true, method: :get, class: "s") do |form| %>
    <%= form.month_field :key, class: "search-input" %>
    <%= form.submit "残高表示", class: "search-btn" %>
  <% end %>
  <%= form_with(url: search_expenses_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.date_field :keyword, class: "search-input" %>
    <%= form.submit "日別表示", class: "search-btn" %>
  <% end %>
</div>
<div class = "contents">
  <div class = "left-content">
    <div class = "target_amount">月次目標食費額：<%= @target_amount.to_s(:delimited) %>円</div>
    <div class = "sum-price">現在の出費合計：<span id="sum_price">円</div>
  </div>
  <div class = "right-content">
    <div class = "content1">
      <% @sum = 0 %>
      <% @expenses.each do |expense| %>
      <%= render partial: "expense", locals: { expense: expense } %>
    <% end %>
    </div>
  </div>
</div>