<%= stylesheet_link_tag "expense/search", :media => "all" %>
<input type="hidden" id = "target_amount" value = <%= @target_amount %> >
<div class = "header">
  <div class = "back_image">
    <%= link_to image_tag("mypage.png",class: "logo-image"), "/expenses/#{current_user.id}" %>
    <div class = "back_text">マイページへ戻る</div>
  </div>
  <div class = "by_day"><span id="ByDay"></span></div>
  <%= form_with(url: search_expenses_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.date_field :keyword, class: "search-input" %>
    <%= form.submit "日別表示", class: "search-btn" %>
  <% end %>
</div>

<div class = "contents">
  <div class="left_content">
    <% @expenses.each do |expense| %>
    <input type="hidden" id = "month" value = <%= expense.day.strftime('%m') %>>
    <input type="hidden" id = "year" value = <%= expense.day.strftime('%Y') %>>
      <%= render partial: "expense", locals: { expense: expense } %>
    <% end %>
  </div>
  <div class = "right_content">
    <div class = "texts">
      <div class = "total_price">合計金額:<span id="total_price"></span>円</div>
      <div class = "judgment1"><span id="judgment_1"></span></div>
      <div class = "judgment2"><span id="judgment_2"></span><span id="judgment_3"></span><span id="judgment_4"></span></div>
      <div class = "advice"><span id="advice1"></span><span id="advice2"></span></span></div>
      <div class = bottom-content>
        <div><%= link_to '節約術ページへGO', posts_path(anchor: 'post_all'), class: 'btn' %></div>
      </div>
    </div>
    <div class = "image">
      <%= image_tag "tassei.png" ,class: "character-image1", id: "character_image1" %>
      <%= image_tag "osii.png" ,class: "character-image2", id: "character_image2" %>
      <%= image_tag "zannen.png" ,class: "character-image3", id: "character_image3" %>
    </div>
  </div>
</div>
